<h1>Additional Configuration Needed</h1>

<p style="margin: 20px 0;">Some additional configuration is needed before you
can manually queue Resque Scheduler jobs from this dashboard. For more
information, <a href="http://www.redisgreen.net/docs/resque-web.html#resque-scheduler"
target="_blank">follow these instructions</a>.</p>

