<h1>Invalid / Missing Password</h1>

<p style="margin: 20px 0;">The Redis password given to the Resque dashboard
appears to be missing or incorrect. You can fix this by adding the correct
password to your RedisMonitor under the "Admin" tab of your RedisMonitor.</p>

