<h1>Cannot Connect to Redis</h1>

<p style="margin: 20px 0;">The Resque dashboard was unable to connect to your
Redis server. Please try reloading this page. If this problem persists, contact
<a href="mailto:support@redisgreen.net">support@redisgreen.net</a> and we'll
help you out.</p>

